server {
  server_name default;
  root      /var/www/app/public;
  index     index.php;

  client_max_body_size 100M;
  fastcgi_read_timeout 1800;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  # location ~ ^/macaron((/)?(.+))?$ {
  #   root /var/www/app/public;
  #   try_files $1 /macaron/index.php?$query_string;
  #
  #   location ~ \.php$ {
  #       include fastcgi_params;
  #       #try_files                $uri = 404;
  #       include                  fastcgi_params;
  #       fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;
  #       fastcgi_param            PATHINFO        $fastcgi_path_info;
  #       fastcgi_param            PATH_TRANSLATED $document_root$fastcgi_path_info;
  #       fastcgi_split_path_info  ^(.+¥.php)(/.+)$;
  #       fastcgi_pass  unix:/var/run/hhvm/hhvm.sock;
  #       fastcgi_index index.php;
  #   }
  # }

    location ~ \.php$ {
          include fastcgi_params;
          #try_files                $uri = 404;
          include                  fastcgi_params;
          fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;
          fastcgi_param            PATHINFO        $fastcgi_path_info;
          fastcgi_param            PATH_TRANSLATED $document_root$fastcgi_path_info;
          fastcgi_split_path_info  ^(.+¥.php)(/.+)$;
          fastcgi_pass  unix:/var/run/hhvm/hhvm.sock;
          fastcgi_index index.php;
    }


    location /status {
     access_log off;
     include /etc/nginx/fastcgi_params;
     fastcgi_param SCRIPT_FILENAME /status;
     fastcgi_pass unix:/var/run/php5-fpm.sock;
    }

}
